---
title: Unsupported Human
author: empijei
layout: single
author_profile: true
excerpt: "Welcome to 'Unsupported Human' a blog about Security, Programming and random stuff"
header: 
 overlay_color: "#333"
---
This Blog is a collection of weird things that happened to me, a list of random thoughts that passed through my mind.
Do not expect something coherent: this is just meant as a repository of interesting stuff I came across.
<br>
<br>
Most of the content is collected into <a href=/series/>series</a> that relate some posts to the others, so if you like an article you should probably read more in that series.
<br>
<br>
Since what I do in most of my free time is code, there's also a section dedicated to my <a href=/projects/>projects</a>.
<br>
<br>
To get you started, here are some of my recent post:

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
