---
title: Unsupported Human
author: empijei
layout: single
author_profile: true
excerpt: "Welcome to 'Unsupported Human' a blog about Security, Programming and random stuff"
header: 
 overlay_color: "#333"
---
This Blog is a collection of weird things that happened to me, a list of random thoughts that passed through my mind.
Do not expect something coherent: this is just meant as a repository of interesting stuff I came across.
<br>
<br>
Most of the content is collected into <a href=/series/>series</a> that relate some posts to the others to follow some kind of stream of thoughts and to give some sense to this whole project.
<br>
<br>
If you are interested about me and my work you can find more <a href=https://github.com/empijei>here</a>.
<br>
<br>
Without further ado, here are some of my recent post:

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
